{% extends "base.html" %}}

{% block heading %}System Actions{% endblock %}

{% block content %}
<p>Commands:</p>
<ul>
    <li><a>add</a></li>
    <li><a>quote</a></li>
    <li><a>buy</a></li>
    <li><a>commitBuy</a></li>
    <li><a>cancelBuy</a></li>
    <li><a>sell</a></li>
    <li><a>commitSell</a></li>
    <li><a>cancelSell</a></li>
    <li><a>setBuyAmount</a></li>
    <li><a>cancelSetBuy</a></li>
    <li><a>setBuyTrigger</a></li>
    <li><a>setSellAmount</a></li>
    <li><a>cancelSetSell</a></li>
    <li><a>setSellTrigger</a></li>
    <li><a>displaySummary</a></li>
</ul>
{% endblock %}