{% extends "base.html" %}

{% block javascript %}
{{ super() }}
<script>
    $('.btn-submit').click(
        $.ajax(

        )
    )
</script>
{% endblock %}


{% block heading %}System Actions{% endblock %}

{% block content %}
<p>Commands:</p>
<ul>
    <li>
        <a>add</a>
        <form action="/add/" method="POST">
            <p>userId</p>
            <input type="text" name="userId">
            <br>
            <p>cash</p>
            <input type="text" name="cash">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>quote</a>
        <form action="/quote/" method="GET">
            <p>userId</p>
            <input type="text" name="userId">
            <br>
            <p>stock symbol</p>
            <input type="text" name="stockSymbol">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>buy</a>
        <form action="/buy/" method="POST">
            <p>userId</p>
            <input type="text" name="userId">
            <br>
            <p>stock symbol</p>
            <input type="text" name="stockSymbol">
            <br>
            <p>cash</p>
            <input type="text" name="cash">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li><a>commitBuy</a></li>
    <li><a>cancelBuy</a></li>
    <li><a>sell</a></li>
    <li><a>commitSell</a></li>
    <li><a>cancelSell</a></li>
    <li><a>setBuyAmount</a></li>
    <li><a>cancelSetBuy</a></li>
    <li><a>setBuyTrigger</a></li>
    <li><a>setSellAmount</a></li>
    <li><a>cancelSetSell</a></li>
    <li><a>setSellTrigger</a></li>
    <li><a>displaySummary</a></li>
</ul>
{% endblock %}