{% extends "base.html" %}

{% block javascript %}
{{ super() }}
<script>
    $('.collapse').collapse();
</script>
{% endblock %}


{% block heading %}System Actions{% endblock %}

{% block content %}
<p>Welcome {{ current_user.username }}</p>
<p>Commands:</p>
<ul>
    <li>
        <p>add</p>
        <form action="/add/" method="POST">
            <p>cash</p>
            <input type="text" name="cash">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>quote</a>
        <form action="/quote/" method="POST">
            <p>stock symbol</p>
            <input type="text" name="stockSymbol">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>buy</a>
        <form action="/buy/" method="POST">
            <p>stock symbol</p>
            <input type="text" name="stockSymbol">
            <br>
            <p>cash</p>
            <input type="text" name="cash">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>commitBuy</a>
        <form action="/commit-buy/" method="POST">
            <input class="btn btn-primary btn-sm btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>cancelBuy</a>
        <form action="/cancel-buy/" method="POST">
            <input class="btn btn-primary btn-sm btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>sell</a>
        <form action="/sell/" method="POST">
            <p>stock symbol</p>
            <input type="text" name="stockSymbol">
            <br>
            <p>cash</p>
            <input type="text" name="cash">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>commitSell</a>
        <form action="/commit-sell/" method="POST">
            <input class="btn btn-primary btn-sm btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>cancelSell</a>
        <form action="/cancel-sell/" method="POST">
            <input class="btn btn-primary btn-sm btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>setBuyAmount</a>
        <form action="/set-buy-amount/" method="POST">
            <p>stock symbol</p>
            <input type="text" name="stockSymbol">
            <br>
            <p>cash</p>
            <input type="text" name="cash">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>cancelSetBuy</a>
        <form action="/cancel-set-buy/" method="POST">
            <p>stock symbol</p>
            <input type="text" name="stockSymbol">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>setBuyTrigger</a>
        <form action="/set-buy-trigger/" method="POST">
            <p>stock symbol</p>
            <input type="text" name="stockSymbol">
            <br>
            <p>cash</p>
            <input type="text" name="cash">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>setSellAmount</a>
        <form action="/set-sell-amount/" method="POST">
            <p>stock symbol</p>
            <input type="text" name="stockSymbol">
            <br>
            <p>cash</p>
            <input type="text" name="cash">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>cancelSetSell</a>
        <form action="/cancel-set-sell/" method="POST">
            <p>stock symbol</p>
            <input type="text" name="stockSymbol">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>setSellTrigger</a>
        <form action="/set-sell-trigger/" method="POST">
            <p>stock symbol</p>
            <input type="text" name="stockSymbol">
            <br>
            <p>cash</p>
            <input type="text" name="cash">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>displaySummary</a>
        <form action="/display-summary/" method="GET">
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    <li>
        <a>UserDumplog</a>
        <form action="/user-dumplog/" method="POST">
            <p>file name</p>
            <input type="text" name="fileName">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    {% if current_user.username == 'admin' %}
    <li>
        <a>admin overall Dumplog</a>
        <form action="/dumplog/" method="POST">
            <p>file name</p>
            <input type="text" name="fileName">
            <br>
            <input class="btn btn-primary btn-submit" type="submit" value="Submit">
        </form>
    </li>
    {% endif %}
</ul>
{% endblock %}